<div class="container">

    <div class="page-header">
        <h1>{{selectedEntityName}}</h1>

        <p>{{entityMetadata.description}}</p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Selection:</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Entity</label>
                        <select class="form-control" ng-model="selectedEntityName">
                            <option ng-repeat="name in entityNames">{{name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Attributes</label><br/>
                        <select multiple ng-model="selectedAttributes"
                                ng-options="attribute for attribute in attributes" class="form-control">
                        </select>
                        <button type="button" class="btn btn-default form-control"
                                ng-click="selectAllAttributes()">Select all
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="span12" style="overflow: auto">
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th ng-repeat="attribute in selectedAttributes">{{attribute}}</th>
                </tr>
                <tr ng-repeat="entity in entities.items">
                    <td ng-repeat="attribute in selectedAttributes">
                        {{entity[attribute] || '&nbsp;'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div> <!-- /container -->
