<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{selectedEntityName}}</h1>
        <p>{{entityMetadata.description}}</p>
    </div>

    <div class="row">
        <div class="col-md-3">
             <div class="panel panel-default">
                <div class="panel-heading">Data item selection:</div>
                <div class="panel-body">
                    <div class="checkbox" ng-repeat="(attribute, selected) in attributeSelection">
                        <label>
                            <input type="checkbox" ng-model="attributeSelection[attribute]">{{attribute}}
                        </label>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <table class="table col-md-12 table-condensed">
                    <tr class="" >
                        <th ng-repeat="(name, meta) in entityMetadata.attributes"
                            ng-show="attributeSelection[name]">{{name}}</th>
                    </tr>
                    <tr ng-repeat="entity in entities.items">
                        <td ng-repeat="(name, value) in entity" ng-show="attributeSelection[name]">{{value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>





</div> <!-- /container -->
